@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

.stock {
  height: 350px;
  width: 500px;
  padding: 12px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  margin-left: 40px;
  margin-right: auto;
  /* flex-grow: 100;
  flex-shrink: 50; */
}

.index {
  height: 350px;
  width: 500px;
  padding: 12px;
  text-align: center;
  margin-left: 650px;
  margin-top: -348px;
}

.market {
  height: 360px;
  width: 510px;
  padding: 12px;
  text-align: center;
  margin-left: 315px;
  margin-top: -30px;
} 

.nav {
  margin-left:-150px;
}

.about {
  margin: 10px;
  text-align: center;
}

.profile {
  margin: 10px;
  padding: 10px;
}

.login {
  padding: 20px;
  text-align: center;
}

.signup {
  margin: 20px;
  text-align: center;
}

.stonks {
  text-align: left;
  padding: 10px;
}

#newsinfo {
  text-align: center;
}

#img {
  border-radius: 10%;
}


